<a href="https://colab.research.google.com/github/IrfuDecyborg/MasterSchool_Project_TravelTide/blob/main/MD_Erfan_Mastery_Project_Colab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas sqlalchemy psycopg2-binary

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.43)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 36.1 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [ ]:
# Data handling
import pandas as pd
import numpy as np

# SQL connection
from sqlalchemy import create_engine, text
import sqlalchemy as sa
import psycopg2

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Make plots look nice
sns.set(style="whitegrid")

In [ ]:
traveltide_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide?sslmode=require"

In [ ]:
engine = sa.create_engine(traveltide_url)

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT current_database(), current_schema();"))
    for row in result:
        print("Database:", row[0])
        print("Schema:", row[1])

Database: TravelTide
Schema: public

In [ ]:
with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public'
        ORDER BY table_name;
    """))
    for row in result:
        print("Table:", row[0])

Table: flights
Table: hotels
Table: sessions
Table: users

In [ ]:
import pandas as pd

users_df = pd.read_sql("SELECT * FROM users LIMIT 5;", engine)
sessions_df = pd.read_sql("SELECT * FROM sessions LIMIT 5;", engine)
flights_df  = pd.read_sql("SELECT * FROM flights LIMIT 5;", engine)
hotels_df   = pd.read_sql("SELECT * FROM hotels LIMIT 5;", engine)
sessions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   session_id              5 non-null      object
 1   user_id                 5 non-null      int64
 2   trip_id                 3 non-null      object
 3   session_start           5 non-null      datetime64[ns]
 4   session_end             5 non-null      datetime64[ns]
 5   flight_discount         5 non-null      bool
 6   hotel_discount          5 non-null      bool
 7   flight_discount_amount  0 non-null      object
 8   hotel_discount_amount   0 non-null      object
 9   flight_booked           5 non-null      bool
 10  hotel_booked            5 non-null      bool
 11  page_clicks             5 non-null      int64
 12  cancellation            5 non-null      bool
dtypes: bool(5), datetime64[ns](2), int64(2), object(4)
memory usage: 477.0+ bytes

In [ ]:
#sql="""SELECT user_id, gender FROM users LIMIT 5; """
#users_small = pd.read_sql(sql, engine)
#users_small

In [ ]:
# Assuming you already did:
#users_df = pd.read_sql("SELECT * FROM users LIMIT 10;", engine)

# Now select just 2 columns
subset = users_df[["user_id", "gender"]]
subset

   user_id gender
0        0      F
1        1      M
2        2      M
3        3      F
4        4      M

In [ ]:

#Primary of tables
sql="""SELECT kcu.column_name AS primary_key
FROM information_schema.table_constraints tc
JOIN information_schema.key_column_usage kcu
     ON tc.constraint_name = kcu.constraint_name
WHERE tc.constraint_type = 'PRIMARY KEY'
  AND tc.table_name = 'users'
  AND tc.table_schema = 'public';
"""

users_df_primarykey = pd.read_sql(sql, engine)
users_df_primarykey

Empty DataFrame
Columns: [primary_key]
Index: []

In [ ]:
#Now How many columns does users table have?

sql = """
SELECT COUNT(*) AS column_count
FROM information_schema.columns
WHERE table_schema = 'public'
  AND table_name = 'users';
"""

users_df_column_no= pd.read_sql(sql, engine)
users_df_column_no

   column_count
0            11

In [ ]:
#Now How many columns does users table have? same thing just used loop
tables = ["users", "sessions", "flights", "hotels"]

for t in tables:
    df = pd.read_sql(f"""
        SELECT COUNT(*) AS column_count
        FROM information_schema.columns
        WHERE table_schema = 'public'
          AND table_name = '{t}';
    """, engine)
    print(f"Table: {t}, Columns: {df['column_count'][0]}")

Table: users, Columns: 11
Table: sessions, Columns: 13
Table: flights, Columns: 13
Table: hotels, Columns: 7

In [ ]:
sql = """
WITH cohort AS (
  SELECT user_id
  FROM sessions
  WHERE session_start >= '2023-01-04'
  GROUP BY user_id
  HAVING COUNT(session_id) > 7
)
SELECT
  s.session_id, s.user_id, s.trip_id,
  s.session_start, s.session_end, s.page_clicks,
  s.flight_discount, s.hotel_discount,
  s.flight_booked, s.hotel_booked, s.cancellation,
  f.origin_airport, f.destination, f.checked_bags, f.base_fare_usd,
  h.hotel_name, h.nights, h.rooms, h.hotel_per_room_usd,
  u.birthdate, u.gender, u.married, u.has_children, u.sign_up_date
FROM sessions s
JOIN cohort c ON s.user_id = c.user_id
JOIN users u   ON u.user_id = s.user_id
LEFT JOIN flights f ON f.trip_id = s.trip_id
LEFT JOIN hotels h  ON h.trip_id = s.trip_id;

"""
Agg_table_test=pd.read_sql(sql, engine)
Agg_table_test
Agg_table_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50547 entries, 0 to 50546
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   session_id          50547 non-null  object
 1   user_id             50547 non-null  int64
 2   trip_id             17465 non-null  object
 3   session_start       50547 non-null  datetime64[ns]
 4   session_end         50547 non-null  datetime64[ns]
 5   page_clicks         50547 non-null  int64
 6   flight_discount     50547 non-null  bool
 7   hotel_discount      50547 non-null  bool
 8   flight_booked       50547 non-null  bool
 9   hotel_booked        50547 non-null  bool
 10  cancellation        50547 non-null  bool
 11  origin_airport      14919 non-null  object
 12  destination         14919 non-null  object
 13  checked_bags        14919 non-null  float64
 14  base_fare_usd       14919 non-null  float64
 15  hotel_name          15386 non-null  object
 16  nights              15386 non-null  float64
 17  rooms               15386 non-null  float64
 18  hotel_per_room_usd  15386 non-null  float64
 19  birthdate           50547 non-null  object
 20  gender              50547 non-null  object
 21  married             50547 non-null  bool
 22  has_children        50547 non-null  bool
 23  sign_up_date        50547 non-null  object
dtypes: bool(7), datetime64[ns](2), float64(5), int64(2), object(8)
memory usage: 6.9+ MB

In [ ]:
# Query 1 provided by thomas
sql="""

SELECT
  user_id,
  COUNT(DISTINCT session_id) AS sessions_count,
  AVG(page_clicks)           AS avg_clicks,
  SUM(CASE WHEN flight_booked THEN 1 ELSE 0 END) AS flights_count,
  SUM(CASE WHEN hotel_booked THEN 1 ELSE 0 END)  AS hotels_count,
  AVG(cancellation::int)     AS cancel_rate,
  AVG(base_fare_usd)         AS avg_fare,
  SUM(nights)                AS total_nights
FROM <joined_tables>
GROUP BY user_id;


"""

In [ ]:
# Query 2 provided by thomas
sql = """

WITH
sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start > '2023-01-04'
),
filtered_users AS (
  SELECT
    user_id,
    COUNT(*) AS session_count
  FROM sessions_2023 s
  GROUP BY user_id
  HAVING COUNT(*) > 7
),
session_base AS (
  SELECT
    s.session_id,
    s.user_id,
    s.trip_id,
    s.session_start, s.session_end,
    s.page_clicks,
    s.flight_discount, s.flight_discount_amount,
    s.hotel_discount, s.hotel_discount_amount,
    s.flight_booked, s.hotel_booked,
    s.cancellation,
    u.birthdate, u.gender, u.married, u.has_children,
    u.home_country, u.home_city, u.home_airport,
    u.home_airport_lat, u.home_airport_lon,
    u.sign_up_date,
    f.origin_airport, f.destination, f.destination_airport,
    f.seats, f.return_flight_booked,
    f.departure_time, f.return_time,
    f.checked_bags, f.trip_airline,
    f.destination_airport_lat, f.destination_airport_lon,
    f.base_fare_usd,
    h.hotel_name, h.nights, h.rooms,
    h.check_in_time, h.check_out_time,
    h.hotel_per_room_usd AS hotel_price_per_room_night_usd
  FROM sessions_2023 s
  INNER JOIN users u ON s.user_id = u.user_id
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),
user_agg_features AS (
  SELECT
    sb.user_id AS user,
    --
    COUNT(DISTINCT sb.session_id) AS total_sessions,
    --SUM(sb.page_clicks) AS three,
    AVG(sb.page_clicks) AS avg_click_per_sesssion,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS flights_booked_success,
    SUM(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS hotels_booked_success,
    SUM(CASE WHEN sb.cancellation = TRUE THEN 1 ELSE 0 END) AS cancellations_count,
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trip_touched,
    AVG(CASE WHEN sb.flight_discount = TRUE AND sb.cancellation = FALSE THEN sb.flight_discount_amount ELSE NULL END) AS avg_flight_discount_amount,
    AVG(CASE WHEN sb.hotel_discount = TRUE AND sb.cancellation = FALSE THEN sb.hotel_discount_amount ELSE NULL END) AS avg_hotel_discount_amount,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.base_fare_usd ELSE NULL END) AS avg_flight_base_fare_usd,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN sb.hotel_price_per_room_night_usd ELSE NULL END) AS avg_hotel_price_per_room_night_usd,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN sb.nights ELSE NULL END) AS avg_hotel_night,
    COUNT(DISTINCT CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.trip_airline ELSE NULL END) AS distinct_airlines_used,
    MAX(sb.birthdate) AS birthdate,
    MAX(sb.gender) AS gender,
    BOOL_OR(sb.married) AS is_married,
    BOOL_OR(sb.has_children) AS has_children,
    MAX(sb.home_country) AS home_country,
    MAX(sb.home_city) AS home_city,
    MAX(sb.home_airport) AS home_airport,
    MAX(sb.home_airport_lat) AS home_airport_lat,
    MAX(sb.home_airport_lon) AS home_airport_lon,
    MAX(sb.sign_up_date) AS sign_up_date
    FROM session_base sb
    GROUP BY sb.user_id
)
SELECT * FROM user_agg_features;

"""

user_agg_features=pd.read_sql(sql, engine)
#user_agg_features

In [ ]:
#user_agg_features.info()

In [ ]:
#user_agg_features.isnull().sum()

In [ ]:
## Replace null values in discount amount columns with 0
#user_agg_features['avg_flight_discount_amount'] = user_agg_features['avg_flight_discount_amount'].fillna(0)
#user_agg_features['avg_hotel_discount_amount'] = user_agg_features['avg_hotel_discount_amount'].fillna(0)

# Check for null values again to confirm the changes
#user_agg_features.isnull().sum()

In [ ]:
# Impute remaining numerical columns with the mean
#numerical_cols_to_impute_mean = [
#    'avg_flight_base_fare_usd',
#    'avg_hotel_price_per_room_night_usd',
#    'avg_hotel_night'
#]

#for col in numerical_cols_to_impute_mean:
#    if user_agg_features[col].isnull().any():
#        mean_val = user_agg_features[col].mean()
#        user_agg_features[col] = user_agg_features[col].fillna(mean_val)

# Check for null values again to confirm all are addressed
#user_agg_features.isnull().sum()

In [ ]:
# After adding all features.
test_sql_1 = """
WITH
sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start > '2023-01-04'
),
filtered_users AS (
  SELECT
    user_id,
    COUNT(*) AS session_count
  FROM sessions_2023 s
  GROUP BY user_id
  HAVING COUNT(*) > 7
)
,
session_base AS (
  SELECT
    s.session_id,
    s.user_id,
    s.trip_id,
    s.session_start, s.session_end,
    s.page_clicks,
    s.flight_discount, s.flight_discount_amount,
    s.hotel_discount, s.hotel_discount_amount,
    s.flight_booked, s.hotel_booked,
    s.cancellation,
    u.birthdate, u.gender, u.married, u.has_children,
    u.home_country, u.home_city, u.home_airport,
    u.home_airport_lat, u.home_airport_lon,
    u.sign_up_date,
    f.origin_airport, f.destination, f.destination_airport,
    f.seats, f.return_flight_booked,
    f.departure_time, f.return_time,
    f.checked_bags, f.trip_airline,
    f.destination_airport_lat, f.destination_airport_lon,
    f.base_fare_usd,
    h.hotel_name, h.nights, h.rooms,
    h.check_in_time, h.check_out_time,
    h.hotel_per_room_usd AS hotel_price_per_room_night_usd
  FROM sessions_2023 s
  INNER JOIN users u ON s.user_id = u.user_id
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),
user_agg_features AS (
  SELECT
    sb.user_id as user,
    --
    COUNT(DISTINCT sb.session_id) AS total_sessions,
    --SUM(sb.page_clicks) AS three,
    AVG(sb.page_clicks) AS avg_click_per_sesssion,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS flights_booked_success,
    SUM(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS hotels_booked_success,
    SUM(CASE WHEN sb.cancellation = TRUE THEN 1 ELSE 0 END) AS cancellations_count,
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trip_touched,
    AVG(CASE WHEN sb.flight_discount = TRUE AND sb.cancellation = FALSE THEN sb.flight_discount_amount ELSE NULL END) AS avg_flight_discount_amount,
    AVG(CASE WHEN sb.hotel_discount = TRUE AND sb.cancellation = FALSE THEN sb.hotel_discount_amount ELSE NULL END) AS avg_hotel_discount_amount,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.base_fare_usd ELSE NULL END) AS avg_flight_base_fare_usd,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN sb.hotel_price_per_room_night_usd ELSE NULL END) AS avg_hotel_price_per_room_night_usd,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN sb.nights ELSE NULL END) AS avg_hotel_night,
    COUNT(DISTINCT CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.trip_airline ELSE NULL END) AS distinct_airlines_used,
    MAX(sb.birthdate) AS birthdate,
    MAX(sb.gender) AS gender,
    BOOL_OR(sb.married) AS is_married,
    BOOL_OR(sb.has_children) AS has_children,
    MAX(sb.home_country) AS home_country,
    MAX(sb.home_city) AS home_city,
    MAX(sb.home_airport) AS home_airport,
    MAX(sb.home_airport_lat) AS home_airport_lat,
    MAX(sb.home_airport_lon) AS home_airport_lon,
    MAX(sb.sign_up_date) AS sign_up_date
    FROM session_base sb
    GROUP BY sb.user_id
)


,
airline_pref AS (
  SELECT user_id, trip_airline, cnt,
         ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY cnt DESC, trip_airline) AS rn
  FROM (
    SELECT sb.user_id, sb.trip_airline, COUNT(*) AS cnt
    FROM session_base sb
    WHERE sb.flight_booked = TRUE
      AND sb.cancellation = FALSE
      AND sb.trip_airline IS NOT NULL
    GROUP BY sb.user_id, sb.trip_airline
  ) t

),
dest_pref AS (
  SELECT user_id, destination_airport, cnt,
         ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY cnt DESC, destination_airport) AS rn
  FROM (
    SELECT sb.user_id, sb.destination_airport, COUNT(*) AS cnt
    FROM session_base sb
    WHERE sb.destination_airport IS NOT NULL
    GROUP BY sb.user_id, sb.destination_airport
  ) t
)

,
engagement AS (
  SELECT
    sb.user_id,
    -- average session duration in minutes
    AVG(EXTRACT(EPOCH FROM (sb.session_end - sb.session_start)) / 60.0) AS avg_session_duration_min,
    -- first/last active month in your cohort window
    DATE_TRUNC('month', MIN(sb.session_start)) AS first_active_month,
    DATE_TRUNC('month', MAX(sb.session_start)) AS last_active_month,
    -- number of active calendar months (inclusive)
    (
      (DATE_PART('year', DATE_TRUNC('month', MAX(sb.session_start))) * 12
       + DATE_PART('month', DATE_TRUNC('month', MAX(sb.session_start))))
      -
      (DATE_PART('year', DATE_TRUNC('month', MIN(sb.session_start))) * 12
       + DATE_PART('month', DATE_TRUNC('month', MIN(sb.session_start))))
      + 1
    )::int AS active_months
  FROM session_base sb
  GROUP BY sb.user_id
)
,
travel_style AS (
  SELECT
    sb.user_id,

    -- Flight style
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE
             THEN sb.checked_bags END) AS avg_checked_bags,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE
             THEN sb.seats END) AS avg_seats,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE
             AND sb.return_time IS NOT NULL AND sb.departure_time IS NOT NULL
             THEN EXTRACT(EPOCH FROM (sb.return_time - sb.departure_time)) / 86400.0 END)
             AS avg_trip_length_days,
    (
      SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE AND sb.return_flight_booked = TRUE THEN 1 ELSE 0 END)::numeric
      / NULLIF(SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END)::numeric, 0)
    ) AS return_flight_ratio,

    -- Hotel style
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE
             THEN sb.rooms END) AS avg_rooms_per_booking,
    (
      SUM(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END)::numeric
      / NULLIF(SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END)::numeric, 0)
    ) AS hotel_booking_ratio,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE
             AND sb.check_in_time IS NOT NULL
             THEN EXTRACT(EPOCH FROM (sb.check_in_time - sb.session_start)) / 86400.0 END)
             AS avg_checkin_gap_days
  FROM session_base sb
  GROUP BY sb.user_id
)

,
value_signals AS (
  SELECT
    sb.user_id,

    -- kept bookings
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS kept_flights,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS kept_hotels,

    -- discounts used on kept bookings
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE AND sb.flight_discount = TRUE THEN 1 ELSE 0 END) AS kept_flight_discounts,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE AND sb.hotel_discount  = TRUE THEN 1 ELSE 0 END) AS kept_hotel_discounts,

    -- any trip row
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trips_touched
  FROM session_base sb
  GROUP BY sb.user_id
)



SELECT
  uaf.*,

  -- Step 1: derived
  CASE WHEN uaf.birthdate IS NOT NULL
       THEN DATE_PART('year', age(CURRENT_DATE, uaf.birthdate))::int END AS age_years,
  CASE WHEN uaf.sign_up_date IS NOT NULL
       THEN (CURRENT_DATE - uaf.sign_up_date)::int END AS tenure_days,
  ((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric
    / NULLIF(uaf.total_sessions::numeric, 0)) AS conversion_rate_per_session,
  (uaf.cancellations_count::numeric
    / NULLIF((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric, 0)) AS cancellation_rate_on_bookings,

  -- Step 2 (if you added it):
  ap.trip_airline        AS preferred_airline,
  dp.destination_airport AS preferred_destination,

  -- Step 3 (new):
  eng.avg_session_duration_min,
  (uaf.total_sessions::numeric / NULLIF(eng.active_months::numeric, 0)) AS sessions_per_month,
  -- Step 4 (new): Travel style
  ts.avg_trip_length_days,
  ts.return_flight_ratio,
  ts.avg_checked_bags,
  ts.avg_seats,
  ts.avg_rooms_per_booking,
  ts.hotel_booking_ratio,
  ts.avg_checkin_gap_days,

  -- Step 5 (new): Value & promo
  (
    (vs.kept_flight_discounts + vs.kept_hotel_discounts)::numeric
    / NULLIF( (vs.kept_flights + vs.kept_hotels)::numeric, 0)
  ) AS promo_responsiveness,

  (
    (vs.kept_flights + vs.kept_hotels)::numeric
    / NULLIF( vs.trips_touched::numeric, 0)
  ) AS loyalty_index,

  -- Optional flags (tune thresholds as you like)
  (CASE WHEN (uaf.cancellations_count::numeric
              / NULLIF((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric, 0)) > 0.3
        THEN TRUE END) AS is_high_canceller,

  (CASE WHEN (uaf.flights_booked_success + uaf.hotels_booked_success) >= 3 THEN TRUE END) AS is_multi_booker,

  (CASE WHEN uaf.has_children OR uaf.is_married THEN TRUE END) AS is_family_traveler


FROM user_agg_features uaf
LEFT JOIN airline_pref ap ON ap.user_id = uaf.user AND ap.rn = 1         -- keep if Step 2 present
LEFT JOIN dest_pref    dp ON dp.user_id = uaf.user AND dp.rn = 1         -- keep if Step 2 present
LEFT JOIN engagement   eng ON eng.user_id = uaf.user
LEFT JOIN travel_style ts ON ts.user_id = uaf.user
LEFT JOIN value_signals vs ON vs.user_id = uaf.user
ORDER BY uaf.user;
"""
user_agg_features_Engineered=pd.read_sql(test_sql_1, engine)
user_agg_features_Engineered

,user,total_sessions,avg_click_per_sesssion,flights_booked_success,hotels_booked_success,cancellations_count,trip_touched,avg_flight_discount_amount,avg_hotel_discount_amount,avg_flight_base_fare_usd,...,avg_checked_bags,avg_seats,avg_rooms_per_booking,hotel_booking_ratio,avg_checkin_gap_days,promo_responsiveness,loyalty_index,is_high_canceller,is_multi_booker,is_family_traveler
0,23557,8,10.250,0,2,0,2,NaN,0.175,NaN,...,NaN,NaN,1.5,1.00,12.816667,0.500000,1.00,None,None,True
1,94883,8,9.125,2,2,0,2,NaN,0.100,432.045000,...,0.500000,1.500000,1.5,1.00,7.312865,0.000000,2.00,None,True,True
2,101486,8,16.375,1,2,0,2,0.075000,NaN,189.910000,...,0.000000,1.000000,1.5,1.00,7.906389,0.000000,1.50,None,True,True
3,101961,8,15.750,5,5,0,5,0.150000,0.100,248.532000,...,0.400000,1.000000,1.0,1.00,6.411338,0.100000,2.00,None,True,True
4,106907,8,30.000,1,1,1,2,NaN,NaN,13902.060000,...,5.000000,6.000000,3.0,0.50,225.002899,0.000000,1.00,True,None,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,792549,8,14.250,4,1,0,4,0.150000,NaN,259.792500,...,0.500000,1.000000,1.0,0.25,7.452084,0.000000,1.25,None,True,None
5994,796032,8,18.500,3,2,1,4,0.100000,NaN,990.526667,...,1.000000,1.333333,1.0,0.50,7.539109,0.200000,1.25,None,True,True
5995,801660,8,14.375,3,3,0,3,0.166667,NaN,136.653333,...,0.333333,1.000000,1.0,1.00,6.519966,0.166667,2.00,None,True,True
5996,811077,8,13.125,1,1,0,1,0.075000,0.200,579.790000,...,0.000000,1.000000,1.0,1.00,10.835322,0.000000,2.00,None,None,True
5997,844489,8,12.375,0,0,0,0,0.050000,0.200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,True

In [ ]:
# Checking data info if cleaning is necessary:
user_agg_features_Engineered.info()
user_agg_features_Engineered.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 43 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   user                                5998 non-null   int64
 1   total_sessions                      5998 non-null   int64
 2   avg_click_per_sesssion              5998 non-null   float64
 3   flights_booked_success              5998 non-null   int64
 4   hotels_booked_success               5998 non-null   int64
 5   cancellations_count                 5998 non-null   int64
 6   trip_touched                        5998 non-null   int64
 7   avg_flight_discount_amount          4672 non-null   float64
 8   avg_hotel_discount_amount           4009 non-null   float64
 9   avg_flight_base_fare_usd            5178 non-null   float64
 10  avg_hotel_price_per_room_night_usd  5401 non-null   float64
 11  avg_hotel_night                     5401 non-null   float64
 12  distinct_airlines_used              5998 non-null   int64
 13  birthdate                           5998 non-null   object
 14  gender                              5998 non-null   object
 15  is_married                          5998 non-null   bool
 16  has_children                        5998 non-null   bool
 17  home_country                        5998 non-null   object
 18  home_city                           5998 non-null   object
 19  home_airport                        5998 non-null   object
 20  home_airport_lat                    5998 non-null   float64
 21  home_airport_lon                    5998 non-null   float64
 22  sign_up_date                        5998 non-null   object
 23  age_years                           5998 non-null   int64
 24  tenure_days                         5998 non-null   int64
 25  conversion_rate_per_session         5998 non-null   float64
 26  cancellation_rate_on_bookings       5540 non-null   float64
 27  preferred_airline                   5178 non-null   object
 28  preferred_destination               5180 non-null   object
 29  avg_session_duration_min            5998 non-null   float64
 30  sessions_per_month                  5998 non-null   float64
 31  avg_trip_length_days                5120 non-null   float64
 32  return_flight_ratio                 5178 non-null   float64
 33  avg_checked_bags                    5178 non-null   float64
 34  avg_seats                           5178 non-null   float64
 35  avg_rooms_per_booking               5401 non-null   float64
 36  hotel_booking_ratio                 5542 non-null   float64
 37  avg_checkin_gap_days                5401 non-null   float64
 38  promo_responsiveness                5540 non-null   float64
 39  loyalty_index                       5542 non-null   float64
 40  is_high_canceller                   200 non-null    object
 41  is_multi_booker                     4420 non-null   object
 42  is_family_traveler                  3516 non-null   object
dtypes: bool(2), float64(21), int64(9), object(11)
memory usage: 1.9+ MB

user                                     0
total_sessions                           0
avg_click_per_sesssion                   0
flights_booked_success                   0
hotels_booked_success                    0
cancellations_count                      0
trip_touched                             0
avg_flight_discount_amount            1326
avg_hotel_discount_amount             1989
avg_flight_base_fare_usd               820
avg_hotel_price_per_room_night_usd     597
avg_hotel_night                        597
distinct_airlines_used                   0
birthdate                                0
gender                                   0
is_married                               0
has_children                             0
home_country                             0
home_city                                0
home_airport                             0
home_airport_lat                         0
home_airport_lon                         0
sign_up_date                             0
age_years                                0
tenure_days                              0
conversion_rate_per_session              0
cancellation_rate_on_bookings          458
preferred_airline                      820
preferred_destination                  818
avg_session_duration_min                 0
sessions_per_month                       0
avg_trip_length_days                   878
return_flight_ratio                    820
avg_checked_bags                       820
avg_seats                              820
avg_rooms_per_booking                  597
hotel_booking_ratio                    456
avg_checkin_gap_days                   597
promo_responsiveness                   458
loyalty_index                          456
is_high_canceller                     5798
is_multi_booker                       1578
is_family_traveler                    2482
dtype: int64

In [ ]:
display(user_agg_features_Engineered[user_agg_features_Engineered['avg_flight_discount_amount'].isnull()])

,user,total_sessions,avg_click_per_sesssion,flights_booked_success,hotels_booked_success,cancellations_count,trip_touched,avg_flight_discount_amount,avg_hotel_discount_amount,avg_flight_base_fare_usd,...,avg_checked_bags,avg_seats,avg_rooms_per_booking,hotel_booking_ratio,avg_checkin_gap_days,promo_responsiveness,loyalty_index,is_high_canceller,is_multi_booker,is_family_traveler
0,23557,8,10.250,0,2,0,2,NaN,0.1750,NaN,...,NaN,NaN,1.5,1.000000,12.816667,0.500000,1.000000,None,None,True
1,94883,8,9.125,2,2,0,2,NaN,0.1000,432.045000,...,0.500000,1.5,1.5,1.000000,7.312865,0.000000,2.000000,None,True,True
4,106907,8,30.000,1,1,1,2,NaN,NaN,13902.060000,...,5.000000,6.0,3.0,0.500000,225.002899,0.000000,1.000000,True,None,True
8,133058,8,9.125,1,0,0,1,NaN,0.0500,423.510000,...,0.000000,1.0,NaN,0.000000,NaN,0.000000,1.000000,None,None,None
11,153982,8,18.750,3,3,0,3,NaN,0.1500,218.956667,...,0.333333,1.0,1.0,1.000000,9.277679,0.000000,2.000000,None,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5950,724581,8,17.125,5,2,0,5,NaN,0.0875,796.238000,...,0.600000,1.4,1.5,0.400000,7.721413,0.285714,1.400000,None,True,True
5963,739518,8,13.500,3,2,0,3,NaN,0.1250,489.303333,...,0.333333,1.0,1.0,0.666667,7.365852,0.200000,1.666667,None,True,None
5964,739734,8,8.000,0,1,0,1,NaN,NaN,NaN,...,NaN,NaN,2.0,1.000000,3.609722,0.000000,1.000000,None,None,None
5967,741902,8,12.375,1,1,0,1,NaN,0.1500,432.760000,...,1.000000,1.0,1.0,1.000000,6.783862,0.000000,2.000000,None,None,True
5977,756434,8,14.500,1,2,0,2,NaN,0.0750,359.140000,...,0.000000,1.0,1.5,1.000000,5.916593,0.000000,1.500000,None,True,True

In [ ]:
display(user_agg_features_Engineered[user_agg_features_Engineered['avg_flight_discount_amount'].isnull()]['avg_flight_discount_amount'])

0      NaN
1      NaN
4      NaN
8      NaN
11     NaN
        ..
5950   NaN
5963   NaN
5964   NaN
5967   NaN
5977   NaN
Name: avg_flight_discount_amount, Length: 1326, dtype: float64

List of persona;:

1) Loyal High value customer
2) discount hunter
3) The last minute booker
4) The steady explorer
5) the business flyer
6) family vacationer
7) the casual or inactive

In [ ]:

 #feature engineerd+ thresshold defined+segmented
 test query_2=

 """

WITH
sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start > '2023-01-04'
),
filtered_users AS (
  SELECT user_id, COUNT(*) AS session_count
  FROM sessions_2023 s
  GROUP BY user_id
  HAVING COUNT(*) > 7
),
session_base AS (
  SELECT
    s.session_id,
    s.user_id,
    s.trip_id,
    s.session_start, s.session_end,
    s.page_clicks,
    s.flight_discount, s.flight_discount_amount,
    s.hotel_discount, s.hotel_discount_amount,
    s.flight_booked, s.hotel_booked,
    s.cancellation,
    u.birthdate, u.gender, u.married, u.has_children,
    u.home_country, u.home_city, u.home_airport,
    u.home_airport_lat, u.home_airport_lon,
    u.sign_up_date,
    f.origin_airport, f.destination, f.destination_airport,
    f.seats, f.return_flight_booked,
    f.departure_time, f.return_time,
    f.checked_bags, f.trip_airline,
    f.destination_airport_lat, f.destination_airport_lon,
    f.base_fare_usd,
    h.hotel_name, h.nights, h.rooms,
    h.check_in_time, h.check_out_time,
    h.hotel_per_room_usd AS hotel_price_per_room_night_usd
  FROM sessions_2023 s
  INNER JOIN users u ON s.user_id = u.user_id
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),
user_agg_features AS (
  SELECT
    sb.user_id AS user,
    COUNT(DISTINCT sb.session_id) AS total_sessions,
    AVG(sb.page_clicks) AS avg_click_per_sesssion,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS flights_booked_success,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS hotels_booked_success,
    SUM(CASE WHEN sb.cancellation  = TRUE THEN 1 ELSE 0 END) AS cancellations_count,
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trip_touched,
    AVG(CASE WHEN sb.flight_discount = TRUE AND sb.cancellation = FALSE THEN sb.flight_discount_amount END) AS avg_flight_discount_amount,
    AVG(CASE WHEN sb.hotel_discount  = TRUE AND sb.cancellation = FALSE THEN sb.hotel_discount_amount END)  AS avg_hotel_discount_amount,
    AVG(CASE WHEN sb.flight_booked   = TRUE AND sb.cancellation = FALSE THEN sb.base_fare_usd END)         AS avg_flight_base_fare_usd,
    AVG(CASE WHEN sb.hotel_booked    = TRUE AND sb.cancellation = FALSE THEN sb.hotel_price_per_room_night_usd END) AS avg_hotel_price_per_room_night_usd,
    AVG(CASE WHEN sb.hotel_booked    = TRUE AND sb.cancellation = FALSE THEN sb.nights END)                AS avg_hotel_night,
    COUNT(DISTINCT CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.trip_airline END) AS distinct_airlines_used,
    MAX(sb.birthdate)     AS birthdate,
    MAX(sb.gender)        AS gender,
    BOOL_OR(sb.married)   AS is_married,
    BOOL_OR(sb.has_children) AS has_children,
    MAX(sb.home_country)  AS home_country,
    MAX(sb.home_city)     AS home_city,
    MAX(sb.home_airport)  AS home_airport,
    MAX(sb.home_airport_lat) AS home_airport_lat,
    MAX(sb.home_airport_lon) AS home_airport_lon,
    MAX(sb.sign_up_date)  AS sign_up_date
  FROM session_base sb
  GROUP BY sb.user_id
),
airline_pref AS (
  SELECT user_id, trip_airline, cnt,
         ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY cnt DESC, trip_airline) AS rn
  FROM (
    SELECT sb.user_id, sb.trip_airline, COUNT(*) AS cnt
    FROM session_base sb
    WHERE sb.flight_booked = TRUE
      AND sb.cancellation = FALSE
      AND sb.trip_airline IS NOT NULL
    GROUP BY sb.user_id, sb.trip_airline
  ) t
),
dest_pref AS (
  SELECT user_id, destination_airport, cnt,
         ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY cnt DESC, destination_airport) AS rn
  FROM (
    SELECT sb.user_id, sb.destination_airport, COUNT(*) AS cnt
    FROM session_base sb
    WHERE sb.destination_airport IS NOT NULL
    GROUP BY sb.user_id, sb.destination_airport
  ) t
),
engagement AS (
  SELECT
    sb.user_id,
    AVG(EXTRACT(EPOCH FROM (sb.session_end - sb.session_start)) / 60.0) AS avg_session_duration_min,
    DATE_TRUNC('month', MIN(sb.session_start)) AS first_active_month,
    DATE_TRUNC('month', MAX(sb.session_start)) AS last_active_month,
    (
      (DATE_PART('year', DATE_TRUNC('month', MAX(sb.session_start))) * 12
       + DATE_PART('month', DATE_TRUNC('month', MAX(sb.session_start))))
      -
      (DATE_PART('year', DATE_TRUNC('month', MIN(sb.session_start))) * 12
       + DATE_PART('month', DATE_TRUNC('month', MIN(sb.session_start))))
      + 1
    )::int AS active_months
  FROM session_base sb
  GROUP BY sb.user_id
),
travel_style AS (
  SELECT
    sb.user_id,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.checked_bags END) AS avg_checked_bags,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.seats END) AS avg_seats,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE
             AND sb.return_time IS NOT NULL AND sb.departure_time IS NOT NULL
             THEN EXTRACT(EPOCH FROM (sb.return_time - sb.departure_time)) / 86400.0 END) AS avg_trip_length_days,
    (
      SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE AND sb.return_flight_booked = TRUE THEN 1 ELSE 0 END)::numeric
      / NULLIF(SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END)::numeric, 0)
    ) AS return_flight_ratio,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN sb.rooms END) AS avg_rooms_per_booking,
    (
      SUM(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END)::numeric
      / NULLIF(SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END)::numeric, 0)
    ) AS hotel_booking_ratio,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE
             AND sb.check_in_time IS NOT NULL
             THEN EXTRACT(EPOCH FROM (sb.check_in_time - sb.session_start)) / 86400.0 END) AS avg_checkin_gap_days
  FROM session_base sb
  GROUP BY sb.user_id
),
value_signals AS (
  SELECT
    sb.user_id,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS kept_flights,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS kept_hotels,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE AND sb.flight_discount = TRUE THEN 1 ELSE 0 END) AS kept_flight_discounts,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE AND sb.hotel_discount  = TRUE THEN 1 ELSE 0 END) AS kept_hotel_discounts,
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trips_touched
  FROM session_base sb
  GROUP BY sb.user_id
),

/* --------- INNER SELECT: compute all derived columns ---------- */
final_base AS (
  SELECT
    uaf.*,
    /* Step 1 */
    CASE WHEN uaf.birthdate   IS NOT NULL THEN DATE_PART('year', age(CURRENT_DATE, uaf.birthdate))::int END AS age_years,
    CASE WHEN uaf.sign_up_date IS NOT NULL THEN (CURRENT_DATE - uaf.sign_up_date)::int END AS tenure_days,
    ((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric
      / NULLIF(uaf.total_sessions::numeric, 0)) AS conversion_rate_per_session,
    (uaf.cancellations_count::numeric
      / NULLIF((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric, 0)) AS cancellation_rate_on_bookings,

    /* Step 2 */
    ap.trip_airline        AS preferred_airline,
    dp.destination_airport AS preferred_destination,

    /* Step 3 */
    eng.avg_session_duration_min,
    (uaf.total_sessions::numeric / NULLIF(eng.active_months::numeric, 0)) AS sessions_per_month,

    /* Step 4 */
    ts.avg_trip_length_days,
    ts.return_flight_ratio,
    ts.avg_checked_bags,
    ts.avg_seats,
    ts.avg_rooms_per_booking,
    ts.hotel_booking_ratio,
    ts.avg_checkin_gap_days,

    /* Step 5 */
    (
      (vs.kept_flight_discounts + vs.kept_hotel_discounts)::numeric
      / NULLIF( (vs.kept_flights + vs.kept_hotels)::numeric, 0)
    ) AS promo_responsiveness,
    (
      (vs.kept_flights + vs.kept_hotels)::numeric
      / NULLIF( vs.trips_touched::numeric, 0)
    ) AS loyalty_index,

    /* Optional flags */
    (CASE WHEN (uaf.cancellations_count::numeric
                / NULLIF((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric, 0)) > 0.3
          THEN TRUE END) AS is_high_canceller,
    (CASE WHEN (uaf.flights_booked_success + uaf.hotels_booked_success) >= 3 THEN TRUE END) AS is_multi_booker,
    (CASE WHEN uaf.has_children OR uaf.is_married THEN TRUE END) AS is_family_traveler

  FROM user_agg_features uaf
  LEFT JOIN airline_pref ap ON ap.user_id = uaf.user AND ap.rn = 1
  LEFT JOIN dest_pref    dp ON dp.user_id = uaf.user AND dp.rn = 1
  LEFT JOIN engagement   eng ON eng.user_id = uaf.user
  LEFT JOIN travel_style ts  ON ts.user_id = uaf.user
  LEFT JOIN value_signals vs ON vs.user_id = uaf.user
)

/* --------- OUTER SELECT: now you can use the aliases safely ---------- */
SELECT
  fb.*,
  CASE
    /* A. Loyal High-Value Traveler */
    WHEN fb.tenure_days > 365
         AND fb.conversion_rate_per_session > 0.50
         AND fb.cancellation_rate_on_bookings < 0.10
         AND fb.loyalty_index > 0.70
      THEN 'Loyal High-Value Traveler'

    /* B. Discount Hunter */
    WHEN fb.promo_responsiveness > 0.50
         AND (COALESCE(fb.avg_flight_discount_amount,0) > 0
              OR COALESCE(fb.avg_hotel_discount_amount,0) > 0)
         AND fb.conversion_rate_per_session <= 0.40
      THEN 'Discount Hunter'

    /* C. Last-Minute Spontaneous Booker */
    WHEN fb.avg_checkin_gap_days < 3
         AND fb.conversion_rate_per_session > 0.40
         AND fb.sessions_per_month < 2
      THEN 'Last-Minute Spontaneous Booker'

    /* D. Steady Explorer */
    WHEN fb.avg_session_duration_min > 15
         AND fb.sessions_per_month >= 2
         AND fb.conversion_rate_per_session < 0.20
      THEN 'Steady Explorer'

    /* E. Business Flyer */
    WHEN fb.avg_trip_length_days <= 3
         AND fb.return_flight_ratio < 0.50
         AND fb.avg_checked_bags < 1.0
         AND fb.conversion_rate_per_session > 0.40
      THEN 'Business Flyer'

    /* F. Family Vacationer */
    WHEN fb.is_family_traveler = TRUE
         AND COALESCE(fb.avg_seats,0) >= 3
         AND COALESCE(fb.avg_rooms_per_booking,0) >= 2
         AND fb.hotel_booking_ratio > 0.50
      THEN 'Family Vacationer'

    /* G. Casual / Inactive */
    WHEN fb.sessions_per_month < 1
         AND fb.conversion_rate_per_session < 0.20
         AND fb.tenure_days > 90
      THEN 'Casual / Inactive'

    ELSE 'Unassigned'
  END AS persona
FROM final_base fb
ORDER BY fb.user;

 """

In [ ]:
#  #feature engineerd+ thresshold defined+segmented+ only shows the persona

test query_3=

"""
WITH
sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start > '2023-01-04'
),
filtered_users AS (
  SELECT user_id, COUNT(*) AS session_count
  FROM sessions_2023 s
  GROUP BY user_id
  HAVING COUNT(*) > 7
),
session_base AS (
  SELECT
    s.session_id,
    s.user_id,
    s.trip_id,
    s.session_start, s.session_end,
    s.page_clicks,
    s.flight_discount, s.flight_discount_amount,
    s.hotel_discount, s.hotel_discount_amount,
    s.flight_booked, s.hotel_booked,
    s.cancellation,
    u.birthdate, u.gender, u.married, u.has_children,
    u.home_country, u.home_city, u.home_airport,
    u.home_airport_lat, u.home_airport_lon,
    u.sign_up_date,
    f.origin_airport, f.destination, f.destination_airport,
    f.seats, f.return_flight_booked,
    f.departure_time, f.return_time,
    f.checked_bags, f.trip_airline,
    f.destination_airport_lat, f.destination_airport_lon,
    f.base_fare_usd,
    h.hotel_name, h.nights, h.rooms,
    h.check_in_time, h.check_out_time,
    h.hotel_per_room_usd AS hotel_price_per_room_night_usd
  FROM sessions_2023 s
  INNER JOIN users u ON s.user_id = u.user_id
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),
user_agg_features AS (
  SELECT
    sb.user_id AS user,
    COUNT(DISTINCT sb.session_id) AS total_sessions,
    AVG(sb.page_clicks) AS avg_click_per_sesssion,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS flights_booked_success,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS hotels_booked_success,
    SUM(CASE WHEN sb.cancellation  = TRUE THEN 1 ELSE 0 END) AS cancellations_count,
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trip_touched,
    AVG(CASE WHEN sb.flight_discount = TRUE AND sb.cancellation = FALSE THEN sb.flight_discount_amount END) AS avg_flight_discount_amount,
    AVG(CASE WHEN sb.hotel_discount  = TRUE AND sb.cancellation = FALSE THEN sb.hotel_discount_amount END)  AS avg_hotel_discount_amount,
    AVG(CASE WHEN sb.flight_booked   = TRUE AND sb.cancellation = FALSE THEN sb.base_fare_usd END)         AS avg_flight_base_fare_usd,
    AVG(CASE WHEN sb.hotel_booked    = TRUE AND sb.cancellation = FALSE THEN sb.hotel_price_per_room_night_usd END) AS avg_hotel_price_per_room_night_usd,
    AVG(CASE WHEN sb.hotel_booked    = TRUE AND sb.cancellation = FALSE THEN sb.nights END)                AS avg_hotel_night,
    COUNT(DISTINCT CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.trip_airline END) AS distinct_airlines_used,
    MAX(sb.birthdate)     AS birthdate,
    MAX(sb.gender)        AS gender,
    BOOL_OR(sb.married)   AS is_married,
    BOOL_OR(sb.has_children) AS has_children,
    MAX(sb.home_country)  AS home_country,
    MAX(sb.home_city)     AS home_city,
    MAX(sb.home_airport)  AS home_airport,
    MAX(sb.home_airport_lat) AS home_airport_lat,
    MAX(sb.home_airport_lon) AS home_airport_lon,
    MAX(sb.sign_up_date)  AS sign_up_date
  FROM session_base sb
  GROUP BY sb.user_id
),
airline_pref AS (
  SELECT user_id, trip_airline, cnt,
         ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY cnt DESC, trip_airline) AS rn
  FROM (
    SELECT sb.user_id, sb.trip_airline, COUNT(*) AS cnt
    FROM session_base sb
    WHERE sb.flight_booked = TRUE
      AND sb.cancellation = FALSE
      AND sb.trip_airline IS NOT NULL
    GROUP BY sb.user_id, sb.trip_airline
  ) t
),
dest_pref AS (
  SELECT user_id, destination_airport, cnt,
         ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY cnt DESC, destination_airport) AS rn
  FROM (
    SELECT sb.user_id, sb.destination_airport, COUNT(*) AS cnt
    FROM session_base sb
    WHERE sb.destination_airport IS NOT NULL
    GROUP BY sb.user_id, sb.destination_airport
  ) t
),
engagement AS (
  SELECT
    sb.user_id,
    AVG(EXTRACT(EPOCH FROM (sb.session_end - sb.session_start)) / 60.0) AS avg_session_duration_min,
    DATE_TRUNC('month', MIN(sb.session_start)) AS first_active_month,
    DATE_TRUNC('month', MAX(sb.session_start)) AS last_active_month,
    (
      (DATE_PART('year', DATE_TRUNC('month', MAX(sb.session_start))) * 12
       + DATE_PART('month', DATE_TRUNC('month', MAX(sb.session_start))))
      -
      (DATE_PART('year', DATE_TRUNC('month', MIN(sb.session_start))) * 12
       + DATE_PART('month', DATE_TRUNC('month', MIN(sb.session_start))))
      + 1
    )::int AS active_months
  FROM session_base sb
  GROUP BY sb.user_id
),
travel_style AS (
  SELECT
    sb.user_id,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.checked_bags END) AS avg_checked_bags,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.seats END) AS avg_seats,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE
             AND sb.return_time IS NOT NULL AND sb.departure_time IS NOT NULL
             THEN EXTRACT(EPOCH FROM (sb.return_time - sb.departure_time)) / 86400.0 END) AS avg_trip_length_days,
    (
      SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE AND sb.return_flight_booked = TRUE THEN 1 ELSE 0 END)::numeric
      / NULLIF(SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END)::numeric, 0)
    ) AS return_flight_ratio,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN sb.rooms END) AS avg_rooms_per_booking,
    (
      SUM(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END)::numeric
      / NULLIF(SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END)::numeric, 0)
    ) AS hotel_booking_ratio,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE
             AND sb.check_in_time IS NOT NULL
             THEN EXTRACT(EPOCH FROM (sb.check_in_time - sb.session_start)) / 86400.0 END) AS avg_checkin_gap_days
  FROM session_base sb
  GROUP BY sb.user_id
),
value_signals AS (
  SELECT
    sb.user_id,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS kept_flights,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS kept_hotels,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE AND sb.flight_discount = TRUE THEN 1 ELSE 0 END) AS kept_flight_discounts,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE AND sb.hotel_discount  = TRUE THEN 1 ELSE 0 END) AS kept_hotel_discounts,
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trips_touched
  FROM session_base sb
  GROUP BY sb.user_id
),

/* --------- INNER SELECT: compute all derived columns ---------- */
final_base AS (
  SELECT
    uaf.*,
    /* Step 1 */
    CASE WHEN uaf.birthdate   IS NOT NULL THEN DATE_PART('year', age(CURRENT_DATE, uaf.birthdate))::int END AS age_years,
    CASE WHEN uaf.sign_up_date IS NOT NULL THEN (CURRENT_DATE - uaf.sign_up_date)::int END AS tenure_days,
    ((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric
      / NULLIF(uaf.total_sessions::numeric, 0)) AS conversion_rate_per_session,
    (uaf.cancellations_count::numeric
      / NULLIF((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric, 0)) AS cancellation_rate_on_bookings,

    /* Step 2 */
    ap.trip_airline        AS preferred_airline,
    dp.destination_airport AS preferred_destination,

    /* Step 3 */
    eng.avg_session_duration_min,
    (uaf.total_sessions::numeric / NULLIF(eng.active_months::numeric, 0)) AS sessions_per_month,

    /* Step 4 */
    ts.avg_trip_length_days,
    ts.return_flight_ratio,
    ts.avg_checked_bags,
    ts.avg_seats,
    ts.avg_rooms_per_booking,
    ts.hotel_booking_ratio,
    ts.avg_checkin_gap_days,

    /* Step 5 */
    (
      (vs.kept_flight_discounts + vs.kept_hotel_discounts)::numeric
      / NULLIF( (vs.kept_flights + vs.kept_hotels)::numeric, 0)
    ) AS promo_responsiveness,
    (
      (vs.kept_flights + vs.kept_hotels)::numeric
      / NULLIF( vs.trips_touched::numeric, 0)
    ) AS loyalty_index,

    /* Optional flags */
    (CASE WHEN (uaf.cancellations_count::numeric
                / NULLIF((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric, 0)) > 0.3
          THEN TRUE END) AS is_high_canceller,
    (CASE WHEN (uaf.flights_booked_success + uaf.hotels_booked_success) >= 3 THEN TRUE END) AS is_multi_booker,
    (CASE WHEN uaf.has_children OR uaf.is_married THEN TRUE END) AS is_family_traveler

  FROM user_agg_features uaf
  LEFT JOIN airline_pref ap ON ap.user_id = uaf.user AND ap.rn = 1
  LEFT JOIN dest_pref    dp ON dp.user_id = uaf.user AND dp.rn = 1
  LEFT JOIN engagement   eng ON eng.user_id = uaf.user
  LEFT JOIN travel_style ts  ON ts.user_id = uaf.user
  LEFT JOIN value_signals vs ON vs.user_id = uaf.user
)
,

/* --------- OUTER SELECT: now you can use the aliases safely ---------- */

final as (
SELECT
  fb.*,
  CASE
    /* A. Loyal High-Value Traveler */
    WHEN fb.tenure_days > 365
         AND fb.conversion_rate_per_session > 0.50
         AND fb.cancellation_rate_on_bookings < 0.10
         AND fb.loyalty_index > 0.70
      THEN 'Loyal High-Value Traveler'

    /* B. Discount Hunter */
    WHEN fb.promo_responsiveness > 0.50
         AND (COALESCE(fb.avg_flight_discount_amount,0) > 0
              OR COALESCE(fb.avg_hotel_discount_amount,0) > 0)
         AND fb.conversion_rate_per_session <= 0.40
      THEN 'Discount Hunter'

    /* C. Last-Minute Spontaneous Booker */
    WHEN fb.avg_checkin_gap_days < 3
         AND fb.conversion_rate_per_session > 0.40
         AND fb.sessions_per_month < 2
      THEN 'Last-Minute Spontaneous Booker'

    /* D. Steady Explorer */
    WHEN fb.avg_session_duration_min > 15
         AND fb.sessions_per_month >= 2
         AND fb.conversion_rate_per_session < 0.20
      THEN 'Steady Explorer'

    /* E. Business Flyer */
    WHEN fb.avg_trip_length_days <= 3
         AND fb.return_flight_ratio < 0.50
         AND fb.avg_checked_bags < 1.0
         AND fb.conversion_rate_per_session > 0.40
      THEN 'Business Flyer'

    /* F. Family Vacationer */
    WHEN fb.is_family_traveler = TRUE
         AND COALESCE(fb.avg_seats,0) >= 3
         AND COALESCE(fb.avg_rooms_per_booking,0) >= 2
         AND fb.hotel_booking_ratio > 0.50
      THEN 'Family Vacationer'

    /* G. Casual / Inactive */
    WHEN fb.sessions_per_month < 1
         AND fb.conversion_rate_per_session < 0.20
         AND fb.tenure_days > 90
      THEN 'Casual / Inactive'

    ELSE 'Unassigned'
  END AS persona
FROM final_base fb

  )

select DISTINCT persona
from final
ORDER BY persona











"""

In [ ]:
# agregated user for each persona
 test query_4=

 """
WITH
sessions_2023 AS (
  SELECT *
  FROM sessions s
  WHERE s.session_start > '2023-01-04'
),
filtered_users AS (
  SELECT user_id, COUNT(*) AS session_count
  FROM sessions_2023 s
  GROUP BY user_id
  HAVING COUNT(*) > 7
),
session_base AS (
  SELECT
    s.session_id,
    s.user_id,
    s.trip_id,
    s.session_start, s.session_end,
    s.page_clicks,
    s.flight_discount, s.flight_discount_amount,
    s.hotel_discount, s.hotel_discount_amount,
    s.flight_booked, s.hotel_booked,
    s.cancellation,
    u.birthdate, u.gender, u.married, u.has_children,
    u.home_country, u.home_city, u.home_airport,
    u.home_airport_lat, u.home_airport_lon,
    u.sign_up_date,
    f.origin_airport, f.destination, f.destination_airport,
    f.seats, f.return_flight_booked,
    f.departure_time, f.return_time,
    f.checked_bags, f.trip_airline,
    f.destination_airport_lat, f.destination_airport_lon,
    f.base_fare_usd,
    h.hotel_name, h.nights, h.rooms,
    h.check_in_time, h.check_out_time,
    h.hotel_per_room_usd AS hotel_price_per_room_night_usd
  FROM sessions_2023 s
  INNER JOIN users u ON s.user_id = u.user_id
  LEFT JOIN flights f ON s.trip_id = f.trip_id
  LEFT JOIN hotels h ON s.trip_id = h.trip_id
  WHERE s.user_id IN (SELECT user_id FROM filtered_users)
),
user_agg_features AS (
  SELECT
    sb.user_id AS user,
    COUNT(DISTINCT sb.session_id) AS total_sessions,
    AVG(sb.page_clicks) AS avg_click_per_sesssion,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS flights_booked_success,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS hotels_booked_success,
    SUM(CASE WHEN sb.cancellation  = TRUE THEN 1 ELSE 0 END) AS cancellations_count,
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trip_touched,
    AVG(CASE WHEN sb.flight_discount = TRUE AND sb.cancellation = FALSE THEN sb.flight_discount_amount END) AS avg_flight_discount_amount,
    AVG(CASE WHEN sb.hotel_discount  = TRUE AND sb.cancellation = FALSE THEN sb.hotel_discount_amount END)  AS avg_hotel_discount_amount,
    AVG(CASE WHEN sb.flight_booked   = TRUE AND sb.cancellation = FALSE THEN sb.base_fare_usd END)         AS avg_flight_base_fare_usd,
    AVG(CASE WHEN sb.hotel_booked    = TRUE AND sb.cancellation = FALSE THEN sb.hotel_price_per_room_night_usd END) AS avg_hotel_price_per_room_night_usd,
    AVG(CASE WHEN sb.hotel_booked    = TRUE AND sb.cancellation = FALSE THEN sb.nights END)                AS avg_hotel_night,
    COUNT(DISTINCT CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.trip_airline END) AS distinct_airlines_used,
    MAX(sb.birthdate)     AS birthdate,
    MAX(sb.gender)        AS gender,
    BOOL_OR(sb.married)   AS is_married,
    BOOL_OR(sb.has_children) AS has_children,
    MAX(sb.home_country)  AS home_country,
    MAX(sb.home_city)     AS home_city,
    MAX(sb.home_airport)  AS home_airport,
    MAX(sb.home_airport_lat) AS home_airport_lat,
    MAX(sb.home_airport_lon) AS home_airport_lon,
    MAX(sb.sign_up_date)  AS sign_up_date
  FROM session_base sb
  GROUP BY sb.user_id
),
airline_pref AS (
  SELECT user_id, trip_airline, cnt,
         ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY cnt DESC, trip_airline) AS rn
  FROM (
    SELECT sb.user_id, sb.trip_airline, COUNT(*) AS cnt
    FROM session_base sb
    WHERE sb.flight_booked = TRUE
      AND sb.cancellation = FALSE
      AND sb.trip_airline IS NOT NULL
    GROUP BY sb.user_id, sb.trip_airline
  ) t
),
dest_pref AS (
  SELECT user_id, destination_airport, cnt,
         ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY cnt DESC, destination_airport) AS rn
  FROM (
    SELECT sb.user_id, sb.destination_airport, COUNT(*) AS cnt
    FROM session_base sb
    WHERE sb.destination_airport IS NOT NULL
    GROUP BY sb.user_id, sb.destination_airport
  ) t
),
engagement AS (
  SELECT
    sb.user_id,
    AVG(EXTRACT(EPOCH FROM (sb.session_end - sb.session_start)) / 60.0) AS avg_session_duration_min,
    DATE_TRUNC('month', MIN(sb.session_start)) AS first_active_month,
    DATE_TRUNC('month', MAX(sb.session_start)) AS last_active_month,
    (
      (DATE_PART('year', DATE_TRUNC('month', MAX(sb.session_start))) * 12
       + DATE_PART('month', DATE_TRUNC('month', MAX(sb.session_start))))
      -
      (DATE_PART('year', DATE_TRUNC('month', MIN(sb.session_start))) * 12
       + DATE_PART('month', DATE_TRUNC('month', MIN(sb.session_start))))
      + 1
    )::int AS active_months
  FROM session_base sb
  GROUP BY sb.user_id
),
travel_style AS (
  SELECT
    sb.user_id,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.checked_bags END) AS avg_checked_bags,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN sb.seats END) AS avg_seats,
    AVG(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE
             AND sb.return_time IS NOT NULL AND sb.departure_time IS NOT NULL
             THEN EXTRACT(EPOCH FROM (sb.return_time - sb.departure_time)) / 86400.0 END) AS avg_trip_length_days,
    (
      SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE AND sb.return_flight_booked = TRUE THEN 1 ELSE 0 END)::numeric
      / NULLIF(SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END)::numeric, 0)
    ) AS return_flight_ratio,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN sb.rooms END) AS avg_rooms_per_booking,
    (
      SUM(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END)::numeric
      / NULLIF(SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END)::numeric, 0)
    ) AS hotel_booking_ratio,
    AVG(CASE WHEN sb.hotel_booked = TRUE AND sb.cancellation = FALSE
             AND sb.check_in_time IS NOT NULL
             THEN EXTRACT(EPOCH FROM (sb.check_in_time - sb.session_start)) / 86400.0 END) AS avg_checkin_gap_days
  FROM session_base sb
  GROUP BY sb.user_id
),
value_signals AS (
  SELECT
    sb.user_id,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS kept_flights,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE THEN 1 ELSE 0 END) AS kept_hotels,
    SUM(CASE WHEN sb.flight_booked = TRUE AND sb.cancellation = FALSE AND sb.flight_discount = TRUE THEN 1 ELSE 0 END) AS kept_flight_discounts,
    SUM(CASE WHEN sb.hotel_booked  = TRUE AND sb.cancellation = FALSE AND sb.hotel_discount  = TRUE THEN 1 ELSE 0 END) AS kept_hotel_discounts,
    SUM(CASE WHEN sb.trip_id IS NOT NULL THEN 1 ELSE 0 END) AS trips_touched
  FROM session_base sb
  GROUP BY sb.user_id
),

/* --------- INNER SELECT: compute all derived columns ---------- */
final_base AS (
  SELECT
    uaf.*,
    /* Step 1 */
    CASE WHEN uaf.birthdate   IS NOT NULL THEN DATE_PART('year', age(CURRENT_DATE, uaf.birthdate))::int END AS age_years,
    CASE WHEN uaf.sign_up_date IS NOT NULL THEN (CURRENT_DATE - uaf.sign_up_date)::int END AS tenure_days,
    ((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric
      / NULLIF(uaf.total_sessions::numeric, 0)) AS conversion_rate_per_session,
    (uaf.cancellations_count::numeric
      / NULLIF((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric, 0)) AS cancellation_rate_on_bookings,

    /* Step 2 */
    ap.trip_airline        AS preferred_airline,
    dp.destination_airport AS preferred_destination,

    /* Step 3 */
    eng.avg_session_duration_min,
    (uaf.total_sessions::numeric / NULLIF(eng.active_months::numeric, 0)) AS sessions_per_month,

    /* Step 4 */
    ts.avg_trip_length_days,
    ts.return_flight_ratio,
    ts.avg_checked_bags,
    ts.avg_seats,
    ts.avg_rooms_per_booking,
    ts.hotel_booking_ratio,
    ts.avg_checkin_gap_days,

    /* Step 5 */
    (
      (vs.kept_flight_discounts + vs.kept_hotel_discounts)::numeric
      / NULLIF( (vs.kept_flights + vs.kept_hotels)::numeric, 0)
    ) AS promo_responsiveness,
    (
      (vs.kept_flights + vs.kept_hotels)::numeric
      / NULLIF( vs.trips_touched::numeric, 0)
    ) AS loyalty_index,

    /* Optional flags */
    (CASE WHEN (uaf.cancellations_count::numeric
                / NULLIF((uaf.flights_booked_success + uaf.hotels_booked_success)::numeric, 0)) > 0.3
          THEN TRUE END) AS is_high_canceller,
    (CASE WHEN (uaf.flights_booked_success + uaf.hotels_booked_success) >= 3 THEN TRUE END) AS is_multi_booker,
    (CASE WHEN uaf.has_children OR uaf.is_married THEN TRUE END) AS is_family_traveler

  FROM user_agg_features uaf
  LEFT JOIN airline_pref ap ON ap.user_id = uaf.user AND ap.rn = 1
  LEFT JOIN dest_pref    dp ON dp.user_id = uaf.user AND dp.rn = 1
  LEFT JOIN engagement   eng ON eng.user_id = uaf.user
  LEFT JOIN travel_style ts  ON ts.user_id = uaf.user
  LEFT JOIN value_signals vs ON vs.user_id = uaf.user
)
,

/* --------- OUTER SELECT: now you can use the aliases safely ---------- */

final as (
SELECT
  fb.*,
  CASE
    /* A. Loyal High-Value Traveler */
    WHEN fb.tenure_days > 365
         AND fb.conversion_rate_per_session > 0.50
         AND fb.cancellation_rate_on_bookings < 0.10
         AND fb.loyalty_index > 0.70
      THEN 'Loyal High-Value Traveler'

    /* B. Discount Hunter */
    WHEN fb.promo_responsiveness > 0.50
         AND (COALESCE(fb.avg_flight_discount_amount,0) > 0
              OR COALESCE(fb.avg_hotel_discount_amount,0) > 0)
         AND fb.conversion_rate_per_session <= 0.40
      THEN 'Discount Hunter'

    /* C. Last-Minute Spontaneous Booker */
    WHEN fb.avg_checkin_gap_days < 3
         AND fb.conversion_rate_per_session > 0.40
         AND fb.sessions_per_month < 2
      THEN 'Last-Minute Spontaneous Booker'

    /* D. Steady Explorer */
    WHEN fb.avg_session_duration_min > 15
         AND fb.sessions_per_month >= 2
         AND fb.conversion_rate_per_session < 0.20
      THEN 'Steady Explorer'

    /* E. Business Flyer */
    WHEN fb.avg_trip_length_days <= 3
         AND fb.return_flight_ratio < 0.50
         AND fb.avg_checked_bags < 1.0
         AND fb.conversion_rate_per_session > 0.40
      THEN 'Business Flyer'

    /* F. Family Vacationer */
    WHEN fb.is_family_traveler = TRUE
         AND COALESCE(fb.avg_seats,0) >= 3
         AND COALESCE(fb.avg_rooms_per_booking,0) >= 2
         AND fb.hotel_booking_ratio > 0.50
      THEN 'Family Vacationer'

    /* G. Casual / Inactive */
    WHEN fb.sessions_per_month < 1
         AND fb.conversion_rate_per_session < 0.20
         AND fb.tenure_days > 90
      THEN 'Casual / Inactive'

    ELSE 'Unassigned'
  END AS persona
FROM final_base fb

  )

SELECT
  persona,
  COUNT(*)               AS user_count,
  ROUND(100.0 * COUNT(*) / SUM(COUNT(*)) OVER (), 2) AS pct_of_users
FROM final
GROUP BY persona
ORDER BY user_count DESC;


 """